body, h1, p, button, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


header {
  background-color: #007BFF;
  color: white;
  padding: 3vw;

  text-align: center;
  border-radius: 10px;
}


.container {
  max-width: 80vw;

  margin: 5vw auto;

  padding: 5vw;

  background-color: white;
  border-radius: 5vw;

  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);

}


button {
  padding: 2vw 4vw;

  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


input[type="text"] {
  padding: 2vw;
  width: 40%;
  margin-right: 3vw;
  margin-left: 3vw;

  border: 1px solid #ccc;
  border-radius: 2vw;

}


.list {
  background-color: #f9f9f9;
  padding: 2vw;
  margin: 2vw 0;

  border: 1px solid #ccc;
  border-radius: 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list p {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 3vw;

}

.list button {
  margin-left: 2vw;

  padding: 2vw 4vw;

  background-color: #ff3333;
  color: white;
  border: none;
}


@media (max-width: 768px) {
  .container {
    padding: 5vw;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 5vw;
  }
}